<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.views">
    <view
        id="com.mavensearch.eclipse.view"
        name="Maven Search"
        class="com.mavensearch.eclipse.ui.MavenSearchView"
        allowMultiple="false"/>
  </extension>
</plugin>
